<p id="notice"><%= notice %></p>

<p>
  <strong>Jedi:</strong>
  <%= @apprenticeship.jedi_id %>
</p>

<p>
  <strong>Padawan:</strong>
  <%= @apprenticeship.padawan_id %>
</p>

<%= link_to 'Edit', edit_apprenticeship_path(@apprenticeship) %> |
<%= link_to 'Back', apprenticeships_path %>
